.App {
  text-align: center;
}

:root {
  --border-color: rgba(255, 255, 255, 0.2);
  --active-button-color: rgba(235, 235, 235, 0.5);
  --button-color: rgba(235, 235, 235, 0.253);
  --font-color: rgba(255, 255, 255, 0.8);
}

body {
  color: white;
}

h1,
h2 {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 20px;
  font-weight: 900;
  filter: drop-shadow(0 0 0.7rem white);
}

h2 {
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

#pokedexGrid {
  display: grid;
  width: calc(267px * 5 + 40px);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
}

#cardContainer {
  width: 267px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1386px) {
  #pokedexGrid {
    width: calc(267px * 3 + 20px);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 840px) {
  #pokedexGrid {
    width: calc(267px * 2 + 10px);
    grid-template-columns: repeat(2, 1fr);
  }
  #tabContainer {
    justify-content: flex-end !important;
    padding: 0 10px 0 0;
  }

  #searchInput {
    width: 100px;
  }
}

@media (max-width: 570px) {
  #pokedexGrid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  #cardContainer {
    width: 100%;
  }
}

#card {
  position: relative;
  box-shadow: 0px 0px 10px fade(#fff, 80%);
  background-size: cover;
  &::after {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    background: inherit;
    filter: blur(20px);
    transform: scale(0.8);
    opacity: 0;
    transition: 500ms all ease-in-out 0ms;
  }
  &:hover::after {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

#searchInput {
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--button-color);
  color: white;
  outline: none;
  border-radius: 20px;
}

#searchInput::placeholder {
  color: white;
}

.pokeball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background: url("/public/imgs/pokeball.png");
  background-size: cover;
  filter: invert(0.89) drop-shadow(0 0 1.5rem rgb(128, 128, 128));
  animation: frames 1.5s linear 0s infinite;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
