.App {
  text-align: center;
}

:root {
  --border-color: rgba(255, 255, 255, 0.2);
  --active-button-color: rgba(235, 235, 235, 0.5);
  --button-color: rgba(235, 235, 235, 0.253);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
}

.App-main {
}

.App-link {
  color: #61dafb;
}

#pokedexGrid {
  display: grid;
  width: calc(267px * 5 + 40px);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
}

#cardContainer{
  width: 267px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1386px) {
  #pokedexGrid {
    width: calc(267px * 3 + 20px);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 840px) {
  #pokedexGrid {
    width: calc(267px * 2 + 10px);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  #pokedexGrid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  #cardContainer {
    width: 100%;
  }
}

#card {
  position: relative;
  box-shadow: 0px 0px 10px fade(#fff, 80%);
  background-size: cover;
  &::after {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    background: inherit;
    filter: blur(20px);
    transform: scale(0.8);
    opacity: 0;
    transition: 500ms all ease-in-out 0ms;
  }
  &:hover::after {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
